In [9]:
SELECT NEV AS 'Név',
       EMAIL AS 'Email'
FROM Vendeg
WHERE SZUL_DAT BETWEEN '1990-06-15' AND '1990-12-31'
ORDER BY MONTH(SZUL_DAT)

Név,Email
Bodor Szabolcs,szabolcs.bodor@mail.hu
Bosnyák Ilona,ilona3@gmail.com
Szabó Julianna,julianna4@gmail.com
Berta Dávid,david4@gmail.com

In [13]:
SELECT szh.TIPUS AS 'Típus',
       ROUND(COUNT(FOGLALAS_PK),-2) AS 'Darabszám'
FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK = sz.SZOBA_ID
                JOIN Szallashely szh ON sz.SZALLAS_FK = szh.SZALLAS_ID
GROUP BY szh.TIPUS
HAVING ROUND(COUNT(FOGLALAS_PK),-2) < 500

Típus,Darabszám
Apartman,100
vendégház,100
panzió,200